body {
  background-color: #fde8cd;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #025955;
  min-height: 60px;
  padding: 25px;
  color: #fde8cd;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

.card-container {
  width: 75%;
  max-height: 20rem;
  margin: 2rem auto;
  background-color: #fde8cd;
}

.card-content {
  background-color: white;
  color: #433520;
}

.card-actions {
  max-width: 25%;
  margin: auto;
}

.review-feedback {
  width: 75%;
  margin: auto;
}

.admin-table-container {
width: 75%;
margin: auto;
}

.admin-table {
  border: 0.15em solid #433520;
  border-collapse: collapse;
  padding: 0.5em;
}

.admin-flagged {
  background-color: maroon;
  color: wheat;
}